@import 'normalize';
@import 'variables';
@import 'typo';

* {
  box-sizing: border-box;
}

html {
  font-size: 19px;
  height: 100%;
}

body {
  font-size: 17px;
  height: 100%;

  overflow: hidden;
}

body, html {
  color: white;

  background: nth($bg-gradient, 1);
  background: -moz-linear-gradient(top, nth($bg-gradient, 1) 0%, nth($bg-gradient, 2) 100%);
  background: -webkit-linear-gradient(top, nth($bg-gradient, 1) 0%, nth($bg-gradient, 2) 100%);
  background: linear-gradient(to bottom, nth($bg-gradient, 1) 0%, nth($bg-gradient, 2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{nth($bg-gradient, 1)}', endColorstr='#{nth($bg-gradient, 2)}',GradientType=0);
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: stretch;

  height: 100%;
  width: 100%;
}

#itemStack {
  display: flex;
}

#item {
  display: flex;

  a, button {
    display: flex;
    height: 100%;
    align-items: center;
  }

  &.current, a:hover {
    background-color: rgba(white, 0.1);
  }
}

button {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  color: inherit;
  background: transparent;
}

.navigation-bar {
  display: flex;
  background: $bg-nav;
  border-bottom: solid 1px #111111;
  height: 2.5rem;

  .left-block, .right-block {
    @extend #itemStack;
    align-items: center;
    height: 100%;
  }

  .right-block {
    margin-left: auto;
  }

  .item {
    @extend #item;
    align-items: center;
    height: inherit;
    a {
      padding: 0 1rem;
    }
  }

  .logo {
    height: 100%;

    a:hover {
      background-color: transparent;
    }

    img {
      height: 60%;
    }
  }
}

.main {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  flex: 4;

  #canvas {
    position: relative;
    width: 100%;
    height: 100%;

    canvas {
      width: inherit;
      height: inherit;
      vertical-align: bottom;
    }
  }

  .left-block {
    position: relative;
    flex: 1;
  }

  .interface-top-nav {
    z-index: 99;
    @extend #itemStack;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0  0 10px 10px;
    overflow: hidden;

    .item {
      display: flex;
      button {
        padding: 0.8rem;
        border-radius: 100%;
        margin: 0.2rem;
      }
    }
  }

  .interface-left-bar {
    z-index: 99;
    @extend #itemStack;
    position: absolute;
    left: 0;
    flex-direction: column;
    padding: 0.25rem;

    .item {
      button {
        text-align: center !important;
        background-color: $item-head-bg-color;
        box-shadow: $shadow-right-bottom;
        border-radius: 3px;

        width: 3rem;
        height: 3rem;
        display: table-cell; /* css hack */
        vertical-align: middle;
      }

      margin: 0.2rem;
    }

    .small-items {
      padding: 1rem 0;
      .item button {
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }

  .side-block {
    width: 300px;

    margin-left: auto;

    background-color: $bg-ui;
    box-shadow: $shadow-left;

    z-index: 99;

    .page {
      display: flex;
      flex-direction: column;
    }

    .section {


      .head {
        background-color: $item-head-bg-color;
        padding: 0.65rem 1.5rem;
        margin: 0.4rem 0;
        border-top: solid 1px lighten($item-head-bg-color, 10%);
        border-bottom: solid 1px darken($item-head-bg-color, 10%);
        box-shadow: $shadow-bottom;
        width: 100%;
        text-align: left;

        &.blue {
          background-color: darken($primary-color, 10%);
          border-top-color: lighten($primary-color, 5%);
          border-bottom-color: darken($primary-color, 30%);
        }
      }

      .content {
        padding: 0.5rem 1rem 1.5rem;
        overflow-wrap: break-word;
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1 50px;
  background-color: $bg-ui;
  box-shadow: $shadow-top;
}

.footer-nav {
  @extend #itemStack;
  height: 2rem;
  background-color: $tooltip-bg-color;
  border-top: solid 1px lighten($bg-ui, 20%);
  border-bottom: solid 1px darken($bg-ui, 20%);
  overflow: hidden;

  .item {
    @extend #item;
    align-items: center;
    height: inherit;
    a {
      padding: 0 1rem;
      font-weight: $font-weight-medium;
    }
  }
}

#gui-selection {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8em;

  a {
    width: 100%;
    height: auto;
    color: white;
    font-weight: $font-weight-medium;

    span {
      display: block;
      margin: 0.1rem;
      padding: 0.5rem;
    }

    &:hover, &.current {
      span {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 3px;
      }
    }
  }
}

.code-toolbar {
  width: 100%;
  height: auto;
}

pre[class*="language-"] {
  background-color: $bg-ui;
  border: none;
  box-shadow: none;
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  font-size: 0.8em;
}

code[class*="language-"], pre[class*="language-"] {
  border-radius: 0;
  text-shadow: none;
}