
$primary-color: #4164d7;
$bg-gradient: (#212121, #151515);
$tooltip-bg-color: #505050;
$item-head-bg-color: #444444;
$bg-ui: #2d2d2d;
$bg-nav: #191a1e;
$bg-ui-top-nav: #1a1a1a;

$items-text-color: #bababa;

$font-family: sans-serif;
$font-weight-light: 100;
$font-weight-normal: 300;
$font-weight-medium: 600;
$font-weight-bold: 1000;

$shadow-left: rgba(0, 0, 0, 0.2) -2px 0 8px;
$shadow-bottom: rgba(0, 0, 0, 0.2) 0 3px 4px;
$shadow-top: rgba(0, 0, 0, 0.2) 0 -4px 8px;
$shadow-right-bottom: rgba(0, 0, 0, 0.2) 2px 3px 8px;